<div class="container">
  <h1>Book your favorite metaverse for a wonderful experience !</h1>

  <%# <%= form_for(@metaverse, @booking) do |f| %>
    <%# <%= f.input :start_at %>
    <%# <%= f.button :submit %>
  <%# <% end %>
  <%= link_to "Back", metaverse_path(@metaverse), class: "btn btn-primary" %>
</div>
