<div class="container">

  <h1>My booking</h1>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.surf-finance.com/wp-content/uploads/metaverse.jpg)">
  <%= @booking.metaverse.title %> booked, start the experience !
  </div>


  <p><strong>Booking details</strong></p>
  <ul>
    <li>Arrival : <%= @booking.start_at %></li>
    <li>Departure : <%= @booking.end_at %></li>
    <li><%= @booking.metaverse.description %></li>
  </ul>

</div>
