<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="container">

<p>Welcome to your profil page <%= @user.first_name %> </p>

<%= link_to "sign_out", destroy_user_session_path, method: :delete %>
</div>


<p>These are  your metaverse</p>
<%= Metaverse.where(user:current_user) %>
<p>Wanna see your bookins</p>
<%= Booking.where(user:current_user) %>
<p>Wanna see your booked_metaverse</p>
