<h1>Welcome to the app/views/metaverses/index </h1>



<div class="container">
  <div class="row">    <% @metaverses.each do |metaverse| %>

      <div class="col-sm-6 mb-5">
        <div class="card" style="width: 30rem;">
          <img class="card-img-top" src=<%= metaverse.principal_picture%> alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= metaverse.title %></h5>
            <p class="card-text"><%= metaverse.price %>€</p>
            <%= link_to "see more about this metaverse", metaverse_path(metaverse) %>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
