<h1>Welcome to the app/views/metaverses/index </h1>



<div class="container">
  <div class="row">
    <% @metaverses.each do |metaverse| %>
        <%= link_to metaverse_path(metaverse), class: "button col-4 mb-5 " do %>
            <div class="card" style="width:100%;">
              <% if metaverse.principal_picture.attached? %>
                <%= cl_image_tag metaverse.principal_picture.key, crop: :fill, class: "card-img-top rounded-top", alt: "principal metaverse picture"  %>
              <% else %>
                <img class="card-img-top rounded-top" src="https://stylistme.com/wp-content/uploads/2022/02/Metaverse-guide-tuto.png" alt="principal metaverse picture">
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= metaverse.title %></h5>
                <p class="card-text"><%= metaverse.price %>€</p>
              </div>
            </div>
        <% end %>
    <%end%>
  </div>
</div>
