<footer>
  <div class="section-footer container grid grid--3-cols">
    <div class="footer-links-general">
      <div class="link-description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="https://www.youtube.com/watch?v=yw35BYhKVoo"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="https://m.media-amazon.com/images/I/51+RhpiIL4L._AC_UL1000_.jpg"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="company text-center">
      <h4>Company</h4>
      <ul>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Explore", metaverses_path %></li>
        <li>Contact us</li>
      </ul>
    </div>

    <div class="footer-copyright">
      <p>
        Copyright&copy Rentaverse company Limited <i class="fas fa-heart"></i>
      </p>
    </div>
  </div>
</footer>
