<footer>
  <div class="section-footer container">
    <div class="footer-links-general">
    <div class="link-description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsa similique libero amet sit aliquid.</p>
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="https://www.youtube.com/watch?v=yw35BYhKVoo"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="https://m.media-amazon.com/images/I/51+RhpiIL4L._AC_UL1000_.jpg"><i class="fab fa-linkedin"></i></a>
    </div>
    </div>
    <div class="contact">
      <h4>Contact</h4>
    </div>

    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Rentaverse company Limited.
    </div>
  </div>
</footer>
