<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/images/MarkupTag-white-logo.png" alt="Logo" class="img-fluid" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <%# <a class="nav-link" href="#">Explore</a> %>
                    <%= link_to "Explore", metaverses_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%# <a class="nav-link" href="#">Add</a> %>
                    <%= link_to "Add", new_metaverse_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                    <%# <%= link_to "", new_metaverse_path, class: "nav-link" %> %>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-success ms-3"><%= link_to "my account", metaverses_path %></button>
            </div>
        </div>
    </div>
</nav>
