<div class="container text-center">
  <h1 class="my-3">Dev Team Metadopt</h1>
  <div class="d-flex justify-content-around">
    <div class="w-100">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/MOFASSI", class: "avatar-large", alt: "avatar-large" %>
      <p><strong>CEO</strong><br> Mohammed, ancien directeur executif de Babouche&Co, recémment interviewé dans Fortune et demi-cousin par alliance du roi du Maroc.</p>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/jolazz", class: "avatar-large", alt: "avatar-large" %>
      <p><strong>CTO</strong><br> Josephine, aka la NightQueen de Lyon, est notre lead-dev. Sa maîtrise technique dépasse la force de Schwarzenegger (oui c'est la bonne orthographe). Refuse toujours le poste de directrice Le Wagon pour se consacrer à Metadopt.</p>
    </div>
    <div class="w-100">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/elbto", class: "avatar-large", alt: "avatar-large" %>
      <p><strong>Financial Director</strong><br> Ancien directeur du cabinet du Ministre de l'Intérieur de B. Caseneuve, Toufik est connu pour avoir exposé les "Interieur Papers" épinglant les dérives de la direction de la Police Nationale.</p>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/Illusion73", class: "avatar-large", alt: "avatar-large" %>
      <p><strong>Intern</strong><br> En stage de 3e, Maxime fait beaucoup de progrès tous les jours. Si, si. On lui a même confié la grosse responsabilité de faire la page "About Us".</p>
    </div>
  </div>
</div>
