<div class="container text-center">
  <h1>Our amazing devs</h1>

  <%= image_tag "https://kitt.lewagon.com/placeholder/users/MOFASSI", class: "avatar-large", alt: "avatar-large" %>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/jolazz", class: "avatar-large", alt: "avatar-large" %>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/elbto", class: "avatar-large", alt: "avatar-large" %>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/Illusion73", class: "avatar-large", alt: "avatar-large" %>
  <br>


</div>
