<header>
  <section class="hero">

    <%# <a href="#" class="btn-book">Start Booking</a> %>
  </section>
</header>
<main class="section-category container">
  <section class="categories ">
    <h2 class="text-center my-4">Categories</h2>
    <div class="section-category-card grid grid--3-cols py-4">
      <div class="card-category history">
        <h3>History</h3>
      </div>
      <div class="card-category future">
        <h3>Future</h3>
      </div>
      <div class="card-category fantasy">
        <h3>Fantasy</h3>
      </div>
    </div>
  </section>

</main>



<div class="text-container">
  <span class="first-text">Metadopt </span>
  <span class="second-text">Explore new fantasies and free yourself </span>
  <span class="second-text">  <%= link_to "Start booking", metaverses_path, class:"btn-cta"%> </span>

</div>
