.button-review {
  text-align: right;
}

.btn-edit-delete{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: right;
}

.btn-booking{
  border: 1px gray solid;
  border-radius: 2px;
  color: grey;
  font-size: 1rem;
  padding: 8px 16px;
  &:hover{
    background-color: grey;
    color: white;
  }
}

.btn-profil{
  border: 1px gray solid;
  border-radius: 2px;
  color: grey;
  font-size: 1rem;
  padding: 8px 16px;
  &:hover{
    background-color: $green;
    color: #fff;
  }
}
