// NAVBAR
// Hover effect left to right on links
.logo {
  width: 40px;
  height: 40px;
}
.nav-link {
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fca311;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
}
