.btn-edit-delete{
margin: 1rem;
text-align: right;
}
.btn-booking{

  border: 1px gray solid;
  border-radius: 8px;
  color: grey;
  font-size: 20PX;
  padding: 8px 16px;
  &:hover{
    background-color: grey;
    color: white;
  }
}
